<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon_10099632_20861761_1428654371.png</string>
		<key>name</key>
		<string>天天酷跑</string>
		<key>link</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_3439_21074976_1431416056.png</string>
		<key>name</key>
		<string>QQ游戏</string>
		<key>link</key>
		<string>http://www.apple.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10170898_20814808_1427993440.png</string>
		<key>name</key>
		<string>节奏大师</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10307710_21127749_1432173605.png</string>
		<key>name</key>
		<string>天天飞车</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10453026_21134862_1432261689.png</string>
		<key>name</key>
		<string>雷霆战机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10451659_21094805_1431656995.png</string>
		<key>name</key>
		<string>天天炫斗</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_3260_21178168_1432887385.png</string>
		<key>name</key>
		<string>我的世界</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_1115588_21117732_1432027017.png</string>
		<key>name</key>
		<string>天天德州</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10478905_20814899_1427993807.png</string>
		<key>name</key>
		<string>全民炫舞</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_11285571_21179961_1432896869.png</string>
		<key>name</key>
		<string>全民突击</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10197302_21168699_1432783122.png</string>
		<key>name</key>
		<string>全民斩仙</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10474521_21023282_1430733306.png</string>
		<key>name</key>
		<string>全民小镇</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10195498_20814816_1427993495.png</string>
		<key>name</key>
		<string>全民英雄</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10550983_20814907_1427993884.png</string>
		<key>name</key>
		<string>全民精灵</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10440469_21132855_1432208450.png</string>
		<key>name</key>
		<string>天天富翁</string>
	</dict>
</array>
</plist>
